<ion-view view-title="Falta Uno!">
  <ion-content>
      <form class="list" ng-show="showForm">
          
          <div class="item item-divider">Datos de Contacto</div>
          <ion-toggle ng-model="partido.soyYo" checked>
              Me contactan a mi
          </ion-toggle>
          <div ng-hide="partido.soyYo">
              <label class="item item-input">
                  <input type="text" placeholder="Nombre Completo" ng-model="partido.nombreCompleto">
              </label>
              
              <label class="item item-input">
                  <input type="text" placeholder="Telefono" ng-model="partido.telefono">
              </label>
              
              <label class="item item-input">
                  <input type="text" placeholder="Mail (Opcional)" ng-model="partido.email">
              </label>
          </div>
          
          <div class="item item-divider">Datos del Partido</div>
          
          <label class="item item-input item-select">
              <div class="input-label">
                  Tipo
              </div>
              <select ng-model="partido.tipoCancha">
                  <option ng-value="5" selected>Cancha de 5</option>
                  <option ng-value="7">Cancha de 7</option>
                  <option ng-value="11">Cancha de 11</option>
              </select>
          </label>
          
          
          
          <label class="item item-input item-select">
              <div class="input-label">
                  ¿Cuantos Faltan?
              </div>
              
              <select ng-model="partido.faltantes">
                  <option ng-repeat="numero in cuantosFaltan" value="numero">{{numero}}</option>
              </select>

          </label>
          
          <div class="item item-divider">¿Cuando es?</div>
          
          <label class="item item-input item-date">
              <div class="input-label" style="padding:16px;">
                  Día
              </div>
              <input type="date" 
                     ng-model="partido.fechaPartido" 
                     value="{{partido.fecha}}"
                     placeholder="dd-MM-yyyy"
                     />

          </label>
          
          <label class="item item-input item-date">
              <div class="input-label" style="padding:16px;">
                  Hora
              </div>
              
              <input type="time" ng-model="partido.hora" value="{{partido.hora}}"/>

          </label>

          
          <div class="item item-divider">¿Donde Queda?</div>
          <div class="item item-input-inset">
              <label class="item-input-wrapper">
                  <input type="text" placeholder="Direccion" ng-model="partido.ubicacion.direccion" ng-change="onChangeAdress()">
              </label>
              <button class="button button-small ion-android-locate" ng-click="showMap()">
              </button>
              
              <input type="hidden" placeholder="Latitud" ng-model="partido.ubicacion.lat">
              <input type="hidden" placeholder="Latitud" ng-model="partido.ubicacion.lng">
          </div>
          
          <div class="padding">
              <button class="button button-block" ng-click="submitPartido()">Aceptar</button>
          </div>
      </form>


<!--
      <div ng-show="showForm">
          <pre ng-bind="partido | json"></pre> 
          <a href="#/event/partidos">View partidos</a>
      </div>
-->
  </ion-content>
</ion-view>